[submodule "protocol"]
	path = protocol
	url = https://github.com/zordhalo/whoopsie-protocol
[submodule "backend"]
	path = backend
	url = https://github.com/zordhalo/whoopsie-backend
[submodule "gadgetbridge"]
	path = gadgetbridge
	url = https://codeberg.org/Freeyourgadget/Gadgetbridge
